---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="px-4">
		<section class="w-full mx-auto lg:w-[740px] py-44">
		<h1 class="text-white text-3xl font-bold flex justify-center flex-row"> Hey, soy Tincho <Badge>Disponible para trabajar</Badge></h1>
		<h2> +5 años de experiencia. Desarrollador web y apasionado por la ingenieria. De Montevideo, Uruguay </h2>
		<ul>
		</ul>
		</section>
	</main>
</Layout>